### Lesson 6. Tuple and operation. List and operation. 21.02 
>    **Topic**: \
>        1. Tuple \
>        2. Operation with tuple \
>        3. Tuple function \
>        4. List/operation with list \
>        5. List function

>    **Materials**: \
>        1. [Lists w3schools](https://www.w3schools.com/python/python_arrays.asp) \
>        2. [More lists in w3school](https://www.w3schools.com/python/python_lists.asp) \
>        3. [Realpython lits](https://realpython.com/python-scope-legb-rule/) \
>        4. [Realpython tuples](https://realpython.com/python-lists-tuples/) \
>        5. [Learnpython](https://www.learnpython.org) - find lists/tuples \
>        6. [Exceptions](https://realpython.com/python-exceptions/)

### Scope

In [19]:
def add(a, b = 5, c = 6, *args):
    print(f'A = {a}') # a = 5
    print(f'B = {b}') # b = 10
    print(f'C = {c}') # c = 15
    print(f'args = {args}') # 1, try, new scope

print(add(5, 10, 15, 1, 'Try', 'New scope'))

A = 5
B = 10
C = 15
args = (1, 'Try', 'New scope')
None

In [20]:
x = 3

print(x)

x = 5
print(x)

3
5

In [21]:
x = 5

def function():
    x = 2
    print(f'Inside function x = {x}')
    
function()
print(f'Outside function x = {x}')

Inside function x = 2
Outside function x = 5

In [22]:
x = 2

def outer_func():
    y = 3
    def inner_func():
        j = 5
        return x + y + j
    
    return inner_func()

result = outer_func()
print(f'Result is {result}')

Result is 10

In [31]:
total_ = 5

def total(total_ ): 
    total_ += 10
    print(total_)
    
print(total(10))

20
None

### LEGB rule

**Local (L)**: The local, or current, scope. This could be the body of a function or the top-level scope of a script. It always represents the scope that the Python interpreter is currently working in.

**Enclosing (E)**: The enclosing scope. This is the scope one level up from the local scope. If the local scope is an inner function, the enclos- ing scope is the scope of the outer function. If the scope is a top-level function, the enclosing scope is the same as the global scope.

**Global (G)**: The global scope, which is the top-most scope in the script. This contains all of the names defined in the script that are not contained in a function body.

**Built-in (B)**: The built-in scope contains all of the names, such as keywords, that are built-in to Python. Functions such as round() and abs() are in the built-in scope. Anything that you can use without first defining yourself is contained in the built-in scope.

![](https://miro.medium.com/max/959/1*_h8IujiEfhwWBK2ddyrT4g.png)

In [26]:
x = 'x global'
# Example 1: Local
def example_with_local():
    x = "x local"
    print(x)

example_with_local() # выведет "local"

print('*' * 50)
# Example 2: inner funcrion
def outer():
    x = "outer"
    def inner():
        print(x)
    inner()

outer() # display "Enclosed"

print('*' * 50)
# Example 3: Global
x = "global"

def example():
    print(f'Global x {x}')

example() # display "global"

print('*' * 50)
# Example 4: Built-In
import math

def example():
    print(f'Built in value from lib: {math.pi}')

example() # display 3.141592653589793

x local
**************************************************
outer
**************************************************
Global x global
**************************************************
Built in value from lib: 3.141592653589793

## Practice block 1:

1. Create an outer function that will accept two parameters, a and b
2. Create an inner function inside an outer function that will calculate the addition of a and b
3. At last, an outer function will add 5 into addition and return it

In [ ]:
total = 0
def add_to_total(n): # Що поверне код?
    total = total + n
print(add_to_total(5))

In [ ]:
total = 0
def add_to_total(n):
    total1 = total + n

add_to_total(5)
print(total)

In [ ]:
total = 0
def add_to_total(n):
    global total # Ключове слово для глобальний, bad style 
    total = total + n

add_to_total(5)
add_to_total(5)
print(total)

In [ ]:
total = 0
def add_to_total(base_value: int, n: int) -> int:
    return base_value + n # Best style

total = add_to_total(total, 5)
print(total)

### Task 1
A perfect number is a number in which the sum of its divisors (excluding itself) are equal to itself.

Write a function that can verify if the given integer n is a perfect number, and return True if it is, or return False if not.

Examples

n = 28 has the following divisors: 1, 2, 4, 7, 14, 28

1 + 2 + 4 + 7 + 14 = 28 therefore 28 is a perfect number, so you should return True

Another example:

n = 25 has the following divisors: 1, 5, 25

1 + 5 = 6 therefore 25 is not a perfect number, so you should return False

In [ ]:
# Step 1: %, ==, +, bool
# Step 2: while/for, range 
# Step 3: def, return

In [172]:
def perfect(x_is_perf):
    summ = 0
    for i in range(1, x_is_perf - 1):
        if x_is_perf % i == 0:
            summ += i
    return summ == x_is_perf

In [192]:
# Example of solve
def perfect(number_user: int) -> bool:
    return sum(i for i in range(1, number_user // 2 + 1) if number_user % i == 0) == number_user if isinstance(number_user, int)  else 'Wrong data type'

In [193]:
assert perfect(25) == False
assert perfect(28) == True
assert perfect(17) == False
# assert perfect(0) == False
# assert perfect(-1) == False
# assert perfect('q') == False

In [ ]:
counter = 1
n = 28
s = 0
while counter != n - 1:
    if n % counter == 0:
        print(counter)
        s += counter
    counter += 1
print(n == s)

## Practice block 2


1. Write a program that asks user to enter an integer and convert it to int. If the user enters something that is not an integer, program should catch an error and ask the user to enter an integer again. if user inputs an integer, program should print this number and quit w/o any error.
2. Write a program that asks the user to input a string and an integer n. Then display the character at index n in the string. You should handle an error properly and display proper error message.

In [ ]:
### Try/Except block 
# Інструмент для except, запуск альтернативного коду якщо була помилка

In [76]:
int('q')

ValueError: invalid literal for int() with base 10: 'q'

In [77]:
int('--3.14')

ValueError: invalid literal for int() with base 10: '--3.14'

In [78]:
int(--4.15)

4

In [79]:
float('a')

ValueError: could not convert string to float: 'a'

In [80]:
1 / 0

ZeroDivisionError: division by zero

In [ ]:
number = int(input("Enter an integer: "))

In [81]:
try: # Спробуй запустити код, конструкція статична
    number = int(input("Enter an integer: "))
except ValueError: # except, блок в який будуть падати помилку, у випадку їх виникнення буде альтернативне розгалуження 
    print("That was not an integer")
    number = 10 
except ZeroDivisionError:
    print('Div by zero')

print(number)

That was not an integer
10

In [ ]:
1 / 0

In [83]:

def divide(num1, num2):
    try:
        print(num1 / num2)
    except ( ZeroDivisionError) as e:
        print('Founded an error:', e)
    except:
        print('No found error')

divide(1, 0)

Founded an error: division by zero

In [85]:
# Catch all exceptions
try:
    number = int(input("Enter an integer: "))
except ValueError as e:
    number = 10
    print(f'Your input: {number}')
except (TypeError, ZeroDivisionError) as e:
    print("Something bad happened!", e)
except Exception : 
    print('except Exception', Exception)
    
print('Finally')

Your input: 10
Finally

In [86]:
x = -3

In [ ]:
# Raise - можливість явно викликати помилку, може бути корисний для тестування або зупинення виконання програми

In [87]:
# raise the exception manually
# x = -10
if x < 0:
    raise ValueError("Sorry, no numbers below zero")

ValueError: Sorry, no numbers below zero

In [ ]:
#### Module random

In [129]:
import random as rd # дозволяє працювати з псевдорандом

In [131]:
rd.randint(4, 10) # Дозволяє повертати в діапозоні числа,  start: end, [  ]

7

## Practice block 3:

1. Write a function that simulate a dice roll and returns the result from 1 to 6.
3. Simulate an election for two candidates. Program should take amount of regions and rating for 1st candidate in each region (in percentage). Program should run election in every region. In every region, program should ask 10 000 voters. Candidate count as a winner if he gains more than 50% of all votes. Program should print the result of t2. Write a function that simulate 10_000 rolls and returns the number of times that the dice roll for each value
he election for each region and the winner

    Example:

    Enter number of regions: 2 

    Enter rating for 1st candidate in each region: 34, 56

    Region 1: 3456 votes for 1st candidate, 6544 votes for 2nd candidate

    Region 2: 5623 votes for 1st candidate, 4356 votes for 2nd candidate

    Result: 2nd candidate won with 10900 votes and 54.5% of all votes

In [ ]:
### Tuple

In [36]:
tuple_example = ((1, 2, 3, (6,7)), 4, 5)
type(tuple_example)

tuple

In [39]:
print(tuple_example[0][-1][0], tuple_example)

6

In [40]:
tuple_second = (1, '2', True, [1,2,3])
tuple_second

(1, '2', True, [1, 2, 3])

In [41]:
empty_tuple = ()
empty_tuple

()

In [42]:
t = (1) # Що поверне?
type(t)

int

In [43]:
t = (1,)
type(t)

tuple

In [45]:
t = 1,2, 3
type(t)

tuple

In [46]:
t2 = (1, 2), 2, (3, 4)
t2

((1, 2), 2, (3, 4))

In [47]:
t = ()
type(t)

tuple

In [66]:
_tuple = tuple()
print(_tuple, type(_tuple))

() <class 'tuple'>

In [49]:
len(tuple_example)

3

In [53]:
print(tuple_example)
print(tuple_example[0][-1][0])

((1, 2, 3, (6, 7)), 4, 5)
6

In [51]:
print(tuple_example[1:3])

(4, 5)

In [52]:
tuple_example

((1, 2, 3, (6, 7)), 4, 5)

In [54]:
tuple_example[2] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple2 = (1,2,3,4,5)

In [ ]:
tutple_1 =  ('september', 'october', 'november')

#long_month = (1, 3, 5, 7, 8)
#if month in long_month:
#    pass
    # do something

In [61]:
print(tuple_example)
for i in range(0, len(tuple_example)):
    print(f'Element  with index {i} is {tuple_example[i]}')

((1, 2, 3, (6, 7)), 4, 5)
Element  with index 0 is (1, 2, 3, (6, 7))
Element  with index 1 is 4
Element  with index 2 is 5

## Practice block 4

1. Create a tuple with your first name, last name, and age.
2. Print your last name using indexing.
3. Create three variables in one line that extracted from tuple that you created in step 1.
4. Print your name letter by letter from this tuple
5. Create a new tuple that contains all info from the first tuple but remove first letter from all strings
6. Create a tuple with two values. First one is (1, 2), second one is (3, 4).
7. Create a program that calculates the sum of all values in the tuple and print it to the console.