1. Add models for student, subject and student_subject from previous lessons in SQLAlchemy.
2. Find all students` name that visited 'English' classes.
3. (Optional): Rewrite queries from the previous lesson using SQLAlchemy.

In [3]:
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, func
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import joinedload


engine = create_engine('postgresql://postgres:5187@localhost/SQLAlchemy_projector')
Base = declarative_base()

class Student(Base):
    __tablename__ = 'student'

    id = Column(Integer, primary_key=True)
    name = Column(String(50), nullable=False)
    age = Column(Integer, nullable=False)
    subjects = relationship("Subject", secondary="student_subject")

class Subject(Base):
    __tablename__ = 'subject'

    id = Column(Integer, primary_key=True)
    name = Column(String(50), nullable=False)

class StudentSubject(Base):
    __tablename__ = 'student_subject'

    id = Column(Integer, primary_key=True)
    student_id = Column(Integer, ForeignKey('student.id'), nullable=False)
    subject_id = Column(Integer, ForeignKey('subject.id'), nullable=False)

Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()

student1 = Student(name='Bae', age=18)
student2 = Student(name='Eddy', age=21)
student3 = Student(name='Lily', age=22)
student4 = Student(name='Jenny', age=19)

subject1 = Subject(name='English')
subject2 = Subject(name='Math')
subject3 = Subject(name='Spanish')
subject4 = Subject(name='Ukrainian')

session.add_all([student1, student2, student3, student4, subject1, subject2, subject3, subject4])
session.commit()

student_subject1 = StudentSubject(student_id=student1.id, subject_id=subject1.id)
student_subject2 = StudentSubject(student_id=student2.id, subject_id=subject2.id)
student_subject3 = StudentSubject(student_id=student3.id, subject_id=subject3.id)
student_subject4 = StudentSubject(student_id=student4.id, subject_id=subject4.id)
student_subject5 = StudentSubject(student_id=student1.id, subject_id=subject3.id)

session.add_all([student_subject1, student_subject2, student_subject3, student_subject4, student_subject5])
session.commit()

input data

In [4]:
english_students = session.query(Student).join(StudentSubject).join(Subject).filter(Subject.name == 'English').all()
for student in english_students:
    print(student.name)

Bae

In [7]:
# UPDATE student SET age = 20 WHERE name = 'Bae';
session.query(Student).filter(Student.name == 'Bae').update({Student.age: 20})
session.commit()

# UPDATE student SET age = 20, name = 'John' WHERE name = 'Bae';
session.query(Student).filter(Student.name == 'Bae').update({Student.age: 20, Student.name: 'John'})
session.commit()

# SELECT COUNT(*) FROM student;
count = session.query(func.count(Student.id)).scalar()
print(count)

# SELECT MIN(age) FROM student;
min_age = session.query(func.min(Student.age)).scalar()
print(min_age)

# SELECT AVG(age) FROM student;
avg_age = session.query(func.avg(Student.age)).scalar()
print(avg_age)

4
19
20.5000000000000000

In [5]:
students_with_subjects = session.query(Student).join(Student.subjects).all()

for student in students_with_subjects:
    print(student.name)
    for subject in student.subjects:
        print(subject.name)

Bae
English
Spanish
Eddy
Math
Lily
Spanish
Jenny
Ukrainian

In [6]:
students = session.query(Student).options(joinedload(Student.subjects)).all()

for student in students:
    for subject in student.subjects:
        print(f"{student.name} - {subject.name}")
session.commit()
session.close()

Bae - English
Bae - Spanish
Eddy - Math
Lily - Spanish
Jenny - Ukrainian