1. Write SQL queries for table creation for data model that you crated for prev homework (AirBnb model)

```
CREATE TABLE Users (
    user_id INTEGER PRIMARY KEY,
    user_type VARCHAR(10),
    username VARCHAR(50),
    password VARCHAR(50),
    email VARCHAR(100),
    phone_number VARCHAR(20),
    address VARCHAR(100),
    payment_method VARCHAR(50)
);
CREATE TABLE Host (
    room_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    room_type VARCHAR(10),
    max_guests INTEGER,
    price DECIMAL,
    is_ac_available BOOLEAN,
    is_refrigerator_available BOOLEAN,
    FOREIGN KEY (user_id) REFERENCES Users(user_id)
);
CREATE TABLE Guests (
    reser_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    room_id INTEGER,
    checkin_date DATE,
    checkout_date DATE,
    total_price DECIMAL,
    created_at DATETIME,
    FOREIGN KEY (user_id) REFERENCES Users(user_id),
    FOREIGN KEY (room_id) REFERENCES Host(room_id)
);
CREATE TABLE Reviews (
    review_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    room_id INTEGER,
    review_text VARCHAR(500),
    rating INTEGER,
    created_at DATETIME,
    FOREIGN KEY (user_id) REFERENCES Users(user_id),
    FOREIGN KEY (room_id) REFERENCES Host(room_id)
);

```

2. Write 3 rows (using INSERT queries) for each table in the data model

```
INSERT INTO Users (user_id, user_type, username, password, email, phone_number, address, payment_method) 
VALUES 
(1, 'Host', 'Petro Vich', 'password123', 'petro@gmail.com', '380775588707', '1 First st, Kiev, Ukraine', 'Credit Card'),
(2, 'Guest', 'Den Dosh', 'guestpassword', 'dendosh@yahoo.com', '380999876543', '11/2 Second st, Kiev, Ukraine', 'PayPal'),
(3, 'Guest', 'Michael Brown', 'mike123', 'michaelbrown@hotmail.com', '380666546677', '789 Third Ave, Dnipro, Ukraine', 'Credit Card');

```

```
INSERT INTO Hosts (room_id, user_id, room_type, max_guests, price, is_ac_available, is_refrigerator_available) 
VALUES 
(1, 1, 'Private room', 2, 50.00, true, true),
(2, 1, 'Entire apartment', 4, 120.00, true, true),
(3, 2, 'Private room', 2, 60.00, true, false);
```

```
INSERT INTO Reservations (reser_id, user_id, room_id, checkin_date, checkout_date, total_price, created_at) 
VALUES 
(1, 2, 1, '2023-05-01', '2023-05-05', 1200.00, '2023-04-13 10:00:00'),
(2, 3, 2, '2023-06-15', '2023-06-20', 600.00, '2023-04-13 11:00:00'),
(3, 2, 3, '2023-07-01', '2023-07-03', 1200.00, '2023-04-13 12:00:00');

```

```
INSERT INTO Reviews (review_id, user_id, room_id, review_text, rating, created_at) 
VALUES 
(1, 2, 1, 'Great room and location!', 5, '2023-05-06 10:00:00'),
(2, 3, 2, 'Clean and spacious apartment.', 4, '2023-06-21 10:00:00'),
(3, 2, 3, 'Comfortable bed but no fridge as advertised.', 3, '2023-07-04 10:00:00');
```

2. Find a user who had biggest amount of reservation. Return user name and user_id

```
SELECT Users.username, Users.user_id
FROM Users
INNER JOIN Reservations
ON Users.user_id = Reservations.guest_id
GROUP BY Users.user_id
ORDER BY COUNT(*) DESC
LIMIT 1;
```